# ====== 开发工具与配置文件 (重点修复) ======
*.iml
**/*.iml
.idea/
/.idea/
.gradle/
/.gradle/
local.properties

# ====== 编译产物与缓存 ======
build/
**/build/
*.apk
*.ap_
*.aab

# ====== NDK & C++ 缓存 (防止底层模块编译卡顿) ======
.cxx/
**/ .cxx/
ndkBuild/

# ====== 日志、映射与快照 ======
captures/
proguardMapping.txt
*.log